<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmls:layout="http://www.ultrag.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h3 th:text="${userModel.title}">blogsweb</h3>
<div>
	<P><strong>ID:</strong>
	<span th:text="${userModel.user.id}">
	</span>
	<P><strong>Name:</strong>
	<span th:text="${userModel.user.name}">
	</span>
	<P><strong>Email:</strong>
	<span th:text="${userModel.user.email}">
	</span>
	</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>